*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
}
:root {
  /* --custom name: value; */
  /* --light-green-bg: #476529; */
  /* example, color: var(--navy-clr) */
  --prim-clr: #22babb;
  --sec-clr: rgb(190, 190, 190);
  --acc-clr: #348888;
}
.page-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}
header {
  background-color: var(--sec-clr);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1rem;
  border: 2px solid black;
}
.header-title {
  font-weight: bolder;
  font-size: 4rem;
}
.header-btn {
  font-size: large;
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}
.header-btn:hover {
  transform: scale(1.1);
}
nav {
  padding: 1rem;
  background-color: rgb(206, 0, 206);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  border-bottom: 2px solid black;
}
.nav-full-list,
.nav-high-pri,
.nav-med-pri,
.nav-low-pri {
  font-size: medium;
  padding: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.25s;
}
.nav-full-list:hover,
.nav-high-pri:hover,
.nav-med-pri:hover,
.nav-low-pri:hover {
  transform: scale(1.1);
}
.nav-high-pri {
  background-color: red;
}
.nav-med-pri {
  background-color: yellow;
}
.nav-low-pri {
  background-color: green;
}
.nav-project {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  border-bottom: 2px solid black;
  margin-top: 1rem;
}
.add-project {
  font-size: medium;
  padding: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.25s;
}
.add-project:hover {
  transform: scale(1.1);
}
main {
  border: 2px solid black;
  padding: 1rem;
  background-color: rgb(255, 178, 35);
}
.main-full-list {
  font-weight: bold;
  font-size: 2rem;
  /* text-align: center; */
  border-bottom: 2px solid black;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: 200ms;
}
.overlay.show{
  opacity: 1;
  pointer-events: all;
}
.form{
  background-color: white;
  border: black 2px solid;
  border-radius: 10px;
  height: 20rem;
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}
.form.show{
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms;
}
.task-container{
  height: auto;
  background-color: skyblue;
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  transition: 0.25s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: .5rem;
  transition: 200ms;
}
.task-container:hover {
  transform: scale(1.05);
}
.container-title{
  font-size: larger;
  font-weight: 600;
}
.container-priority,
.container-due-date{
  font-size: medium;
}
.container-due-date,
.container-date-difference{
  justify-self: end;
}
.container-high-priority{
  background-color: rgb(255, 79, 79);
  border: 2px solid black;
}
.container-med-priority{
  background-color: rgb(255, 255, 55);
  border: 2px solid black;
}
.container-low-priority{
  background-color: rgb(64, 255, 64);
  border: 2px solid black;
}
.container-date-difference{
  font-size: medium;
}
.sub-tasks-btn{
  font-size: medium;
  border-radius: 10px;
  cursor: pointer;
}
.container-complete-btn{
  font-size: medium;
  border-radius: 10px;
  cursor: pointer;
}
.container-delete-btn{
  font-size: medium;
  border-radius: 10px;
  cursor: pointer;
}
.hide{
  transform: scale(0);
  z-index: -1;
  transition: 200ms;
  position: absolute;
}